! URXVT GENERAL CONFIG
!------------------------------------------------
URxvt.geometry: 90x16
URxvt.imLocale: en_US.UTF-8

! URXVT FONTS
!------------------------------------------------
URxvt.font:xft:Monaco:bold:size=9
URxvt.boldFont:xft:Monaco:bold:size=9
URxvt.italicfont:xft:Monaco:italic:size=9
URxvt.bolditalicFont:xft:Monaco:bold:italic:size=9
URxvt*letterSpace: -1
URxvt*allow_bold: true
URxvt.depth:                32


! URXVT FONT SETTINGS
!------------------------------------------------
Xft.dpi:        97
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintsfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
!URxvt.shading:       20



URxvt*perl-ext:
URxvt*perl-ext-common:



!------------------------------------------------
URxvt.iso14755: False
! URXVT SCROLLBAR AND CURSOR STYLE
!------------------------------------------------
URxvt.saveLines: 1524
URxvt.scrollBar: false
URxvt.scrollstyle: plain 
!rxvt
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
!==================================================
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007


! Base16 Isotope

#define base00 #000000
#define base01 #404040
#define base02 #606060
#define base03 #808080
#define base04 #c0c0c0
#define base05 #d0d0d0
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #ff0000
#define base09 #ff9900
#define base0A #ff0099
#define base0B #33ff00
#define base0C #00ffff
#define base0D #0066ff
#define base0E #cc00ff
#define base0F #3300ff!

! special
*.foreground: #ffffff
*.background:  #202020
!#0d1f21
*.cursorColor:  #ffffff

! black
*.color0:       #000000
*.color8:       #4d4d4d

! red
*.color1:       #cc2c2b
*.color9:       #e21613

! green
*.color2:       #5bcb4b
*.color10:      #00fd56

! yellow
*.color3:       #f8f400
*.color11:      #fffe5a

! blue
*.color4:       #243bd1
*.color12:      #556fff

! magenta
*.color5:       #b31ab8
*.color13:      #fd28ff

! cyan
*.color6:       #23cdcd
*.color14:      #14ffff

! white
*.color7:       #e4e4e4
*.color15:      #d3d3d3

cursor.theme:Capitaine Cursors

